


.Craete_account .hc{
 margin-left: 85px;
}


.Craete_account
{

    padding-top: 1px;
    padding-left: 25px;
background-color: aliceblue;
border-radius: 20px;
box-shadow: 0 10px  30px black;
margin-top: 200px;
margin-left: 670px;
height: 400px;
width: 400px;


}