body{

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}



img{
    max-height: 100%;
	max-width: 100%;
	width: 300px;
	height: 230px;
	background-size: cover;
	float: center;
margin-top: 80px;
    margin-left: 680px;

}

form{
    margin-top: 50px;
    margin-left: 550px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(3, 0, 0, 0.362);
    text-align: center;
    padding-right: 40px;
    width: 500px;
    height: 200px;

}

input{

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #3498db;
    border-radius: 7px;
    outline: none;
    border: 2px solid #3498db;
height: 40px;
    font-size: 1.2rem;



}


h1{



    color: #2ecc71;


}
label{
    margin-left: 5px;
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #2ecc71;
    font-size: large;
    

}
input:focus {
    border-color: #2ecc71;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(46, 204, 113, 0.5);
    transform: scale(1.02);
}


a{

    color: #28A745;
    text-decoration: none;
    font-weight: bold;

}
p :hover{

font-size: large;
color: #3498db;



}